<div class="container text-center">
    <h2>
        Welcome Dr. {{this.doctorDetails.name}}          
    </h2> 
    <div class="card card1 text-center">
        <img src="../../../assets/Images/doctorAvtar - Copy.png" class="card-img-top" alt="Doctor Profile">
        <div class="card-body">
            <div class="row">
                <div class="col col-md-6">
                    <table class="table1">
                        <tr>
                            <th class="col text-right th_width">Email Address : </th>
                            <td class="col text-left"> {{this.doctorDetails.emailAddress}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Specialization : </th>
                            <td class="col text-left">{{this.doctorDetails.specialization}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Date Of Birth : </th>
                            <td class="col text-left">{{this.doctorDetails.dateOfBirth}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Experience :</th>
                            <td class="col text-left"> {{this.doctorDetails.experience}}</td>
                        </tr>                       
                    </table>
                </div>
                <div class="col col-md-6">
                    <table class="table1">
                        <tr>
                            <th class="col text-right th_width">Degree : </th>
                            <td class="col text-left">{{this.doctorDetails.degree}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Gender : </th>
                            <td class="col text-left">{{this.doctorDetails.gender}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Phone No : </th>
                            <td class="col text-left"> {{this.doctorDetails.phoneNo}}</td>
                        </tr>
                        <tr>
                            <th class="col text-right th_width">Address : </th>
                            <td class="col text-left"> {{this.doctorDetails.address}}</td>
                        </tr>
                    </table>
                </div>
            </div>           
        </div>
    </div>
</div>